/*********************************
*
*
*
this is zak's css
*
*
*
*********************************/
h1 {
	font: 1.5em 'Arial', Helvetica, Arial, Geneva, sans-serif;
	text-decoration: none;	
	text-shadow: 0px 1px 1px #000;
	color: orange;
}

h2 {
	font: 1.2em 'Arial', Helvetica, Arial, Geneva, sans-serif;
	text-decoration: none;	
	text-shadow: 0px 1px 1px #000;
	color: #dxdxdx;
}

h3 {
	font: 1.0em 'Arial', Helvetica, Arial, Geneva, sans-serif;
	text-decoration: none;	
	color: #dxdxdx;
}

p {
	font-family: Arial, sans-serif;
	font-size: 1.0em;
	margin: 0;
	color: #black;
}

li {
	font-family: Arial, sans-serif;
	font-size: 1.0em;
	margin: 0;
	color: #black;
}

.wrapper {
width: 96%;
max-width: 920px;
height: auto;
margin: auto;
padding: 2%;
}
.main {
width: 60%;
margin-right: 5%;
float: left;
}
.sidebar {
width: 30%;
float: right;
}
.banner img {
width: auto%;
height: auto;
}
.header h1 {
font: 1.5em 'Arial', Helvetica, Arial, Geneva, sans-serif;
height: 70px;
width: 160px;
float: left;
display: block;
text-indent: -9999px;
}
.footer {
width: 100%;
height: 18px;
font-size: .8em;
color: white;
background-color: black;
float: left;
clear: both;
text-align: center;
}

/*  Navigation  */

#nav {
	position: float;
	margin-left: 40px; padding: 0;	
	background: transparent;
	height: 50px;
	left: 10px;	top: 5px; bottom: 10px;			
}
#nav ul {
	float: left;
	list-style: none;
	height: 50px;
	margin: 0 0 0 5px; padding: 0;	
	display: inline;
}
#nav ul li {
	display: inline;
	margin: 0; padding: 0;
}
#nav ul li a {
	float: left;
	margin: 0;	padding: 0 12px;
	font: 1.2em 'Arial', Helvetica, Arial, Geneva, sans-serif;
	text-decoration: none;	
	text-shadow: 0px 1px 1px #000;
	color: #82a952;	
	text-transform: uppercase;
}
#nav ul li a:hover, 
#nav ul li a:active {
	color: #E0E0E0;
	text-shadow: 0px 1px 1px #000;
	background: none;
	border: none;
}
#nav ul li#current a {	
	color: #EB6207;	
	text-shadow: 0px 1px 1px #000;